.tasks-app-container {
  display: flex;
  height: 100vh;
  background-color: #131213;
}
@media (max-width: 576px) {
  .tasks-app-container {
    flex-direction: column;
  }
}

.task-create-section {
  width: 30%;
  background-color: #232226;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 576px) {
  .task-create-section {
    width: 100%;
    height: 40vh;
  }
}

.task-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tasks-display-section {
  width: 70%;
  padding: 15px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .tasks-display-section {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
  }
}

.app-main-heading {
  font-weight: 600;
  font-size: 32px;
  color: #f3aa4e;
  font-family: 'Roboto';
  align-self: flex-start;
}

.input-field-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.field-label {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 24px;
}

.text-input {
  height: 45px;
  font-size: 18px;
  font-family: 'Roboto';
  margin: 10px 0px;
  outline: none;
  color: #64748b;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: #f1f5f9;
}

.add-task-btn {
  background-color: #f3aa4e;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
  cursor: pointer;
}

.section-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
}

.tags-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.empty-tasks-text {
  font-family: 'Roboto';
  font-size: 24px;
  color: #f1f5f9;
  align-self: center;
}

.task-items-list {
  padding-left: 0;
  height: 100%;
  overflow-y: auto;
}
